body{
    background: #001f53;
    font-family: 'Montserrat';
}
.vl {
  display: block;
  border-left: 3px solid white;
  height: 70px;
  border-radius: 3px;
}
h1{
    color: #fff;
    white-space: pre;
    text-align: left;
    margin-top: 8%;
    letter-spacing: 2px;
}
span{
    color: #fff;
}
.wrapper{
    position: relative;
    text-align: center;
    margin: 0 auto;
    display: block;
    width: 100%;
    height: 240px;
}
.line-area{
    display:block;
    width: 70%;
    height: 1px;
    background: #ddd;
    position: absolute;
    top: 50%;
    left: 20%;
}
.wrapper .timeline-area{
    height: 100%;
}
.single-item{
    width: 6%;
    white-space: nowrap;
    display: inline-block;
    position: relative;
    height: 100%;
    margin-right: 90px;
    transition: width .5s;
    z-index: 1;
}
.single-item > span{
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    margin-left: -43px;
    width: 100%;
}
.single-item::before{
    content: '';
    display: block;
    width: 1px;
    height: 20px;
    background: #ddd;
    margin-right: 40px;
    margin-top: -5px;
    margin-left: -15px;
}
.single-item > span:before{
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    background: linear-gradient(#87aedc,#e1cde3);
    margin: -2px auto 20px auto;
    border-radius: 50%;
    cursor: pointer;
}
.single-item2{
    width: 6%;
    white-space: nowrap;
    display: inline-block;
    position: relative;
    height: 100%;
    margin-right: 90px;
    transition: width .5s;
    z-index: 1;
}
.single-item2 > span{
    display:block;
    position:absolute;
    top: 50%;
    margin-top: -60px;
    margin-left: -43px;
    width: 100%;
}
.single-item2::after{
    content: '';
    display: block;
    width: 1px;
    height: 23px;
    background: #ddd;
    margin-right: 40px;
    margin-top: -40px;
    margin-left: -15px;
}
.single-item2 > span:after{
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background: linear-gradient(#87aedc,#e1cde3);
    margin: 22px auto 20px auto;
    border-radius: 50%;
    cursor:pointer;
}
